{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col md:flex-row items-center justify-center gap-12 p-6">
    <!-- Left Side Text -->
    <div class="text-black dark:text-white text-left font-mono text-4x md:text-4xl max-w-md leading-relaxed">
        <p>Welcome to Noteify. Enter your images for our AI to translate.</p>
    </div>
    
    <!-- Right Side Upload Card -->
    <div class="bg-[#f5f5f5] rounded-xl shadow-lg p-6 w-[300px] h-[200px] flex items-center justify-center">
        <!-- Image icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-neutral-700" viewBox="0 0 24 24" fill="currentColor">
            <path d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"/>
        </svg>
        {% if request.user.is_authenticated %}
            <a href="{% url 'upload' %}" class="bg-blue-600 text-white text-sm px-4 py-2 rounded hover:bg-blue-700 transition">Upload</a>
        {% endif %}
    </div>
</div>
{% endblock %}