{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<title>Notetify</title>
		{% tailwind_css %}
	</head>

	<body class="bg-white-900 min-h-screen dark:bg-stone-900 leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center">
				<h1 class="text-5xl text-stone-500 dark:text-stone-50">WEB PAGE BAR (TODO)</h1>
			</section>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
