{% extends 'base.html' %}

{% block content %}
<!-- Add ability to auth and check if user is valid actor -->
<div class="max-w-xl mx-auto text-center mt-10">
    <h2 class="text-2xl font-bold text-gray-800 dark:text-white">Image uploaded!</h2>
    <p class="mt-4 text-gray-700 dark:text-gray-300">Your image is being processed.</p>
    <p class="text-gray-500 dark:text-gray-400 mt-2">To view results, copy and paste the link below into your browser:</p>
    <div class="bg-gray-200 dark:bg-gray-800 p-3 mt-4 rounded">
        <a href="/result/{{ image_id }}/" class="text-blue-700 dark:text-blue-400">/result/{{ image_id }}/</a>
    </div>
</div>
{% endblock %}